*{
    box-sizing: border-box;
    margin: 0;
}

/* Login page begin */

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Login page end */